.light{
    background-color: white;
    font-style: normal;
    color: black;
}

.dark{
    background-color: black;
    font-style: normal;
    color: antiquewhite;

}


.div1{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    
}